body {
    margin: 0px;
}

.up-nav {
    padding-left: 20px;
}

.nav-left img {
    width: 100px;
}

.nav-left div {
    text-transform: uppercase;
    font-weight: 1000;

}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left > * {
    padding: 20px;
}
