.up-nav {
    padding-left: 1%;
}

.nav-left img {
    width: 10%;
}

.nav-left div {
    position: absolute;
    padding-left: 11%;
    padding-top: 2%;
    top: 0;
    border: 3px solid transparent;
    text-transform: uppercase;

}


